.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}


.central{
    display: grid;
    height: 40vh;
    grid-template-rows: 100pxs;
}

main{
    grid-column: span 2;
    background-color: #FF9D3D;
}

header{
    background-color: #C4E1F6;
}

nav{
    background-color: #FEEE91;
    height: 5vh;
}

aside{
    background-color: #FFBD73;
    grid-column-start: 3;
    grid-column-end: 4;
}

footer{
    display: flex;
    flex-wrap: nowrap;
    background-color: #CDC1FF;
    height: 20vh;
    justify-content: center;
}

.upper-header > h1{
    height: 15vh;
    margin-bottom: 0;
    margin-top: 0.5vh;
}
